@import 'nib/vendor'

vendor-prefixes = o ms moz webkit official

header
	position fixed
	width 100%
	background #fff
	border-bottom 1px solid #ddd
	z-index 9
	.summary
		padding 8px 15px
		background #eee
		a
			font-size 12px
			color #000
		.reclamar
			margin-bottom 0
	.catFilter
		padding-top 8px
		button
			margin-bottom 0px
	.logo
		a
			display block
			padding 13px 20px 0px
			font-weight bold
			text-decoration none
			color #000
	.userInfo
		padding-top 5px
		border-right 1px solid #ddd
		.button
			margin-bottom 0px
			background none
			padding 0px
			color #000
			padding-right 1.5rem !important
			.Avatar
				width 40px
				height 40px
				background-position center center
				border-radius 50%
				background-size 100% auto
			.userData
				font-size 12px
				margin 0px 10px
				padding-top 5px
			span
				&:after
					  border-color #2ba6cb transparent transparent transparent
		
			

.contenido
	padding-top 60px
	.categoria
		.producto
			font-size 13px
			margin-bottom 15px
			h3
				margin 0px 0px 5px
				height 40px
				a
					font-size 13px
					display block
					text-align center
					text-decoration none
					line-height 16px
					color #000
			.img_product
				width 100%
				img 
					width 100%
					border 1px solid #ddd
					border-bottom none
			.rate
				font-size 11px
			.costo
				text-align center
			.anadir
				margin-bottom 0px
				padding 8px
			.CartTools
				select
					margin-bottom 0px
			.contElim
				height 30px
				width 100%
				float left
				.eliminarProd
					display block
					float left
					width 100%
					text-align center
					a
						margin-top 3px
						display block
			.panel
				margin-bottom 0px
				border-bottom none
	.fildComentario
		margin-top 20px
		max-height 100px
	.comentariosBottom
		.normal
			svg
				fill #0083C0 !important
				cursor none
		.highlight
			svg
				fill #D1D2D4 !important
				cursor none
	.comentarios
		h3
			color #000
			font-size 18px
			border-bottom 1px solid #ddd
		.comentario
			border-bottom 1px solid #ddd
			padding-bottom 5px
			margin-top 10px
			.userDataComent
				font-size 14px
	.productTools
		.anadir
			width 100% !important
	.infoTools
		padding-left 20px
		.costo
			margin-bottom 10px

.glyphicon
	  position: relative
	  top: 1px;
	  display: inline-block;
	  font-style: normal;
	  font-weight: 400;
	  line-height: 1;

.glyphicon-plus
	&:before
		content '+'
		
.glyphicon-minus
	&:before
		content '-'

.glyphicon-remove
	&:before
		content 'X'
		font-weight bold
		color red
		font-size 30px
		text-align center

.table-cart
	img
		max-width 100px
	.removeX, .imgTable
		text-align center

.contCheckout
	text-align center

.alert-warning
	text-align center
	margin 10px 0px
	color red
	font-weight bold
	
.pagination
	display table !important
	margin 0 auto 20px !important
			